@import url('https://fonts.googleapis.com/css?family=Istok+Web:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body{
margin: 0;
background: black;
/* background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png"); */
}
.navigation{
  background: rgba(0,0,0,.2);
  height: 100px;
}
nav ul{
  list-style: none;
}
/* .main-section {
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png");
  } */
.header .navigation{
  width: 100%;
}
.header .navigation .navigation-list{
  margin: 15 auto 30px;
  max-width: 1366px;
  padding: 15px 40px;
  width: 100%;
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  align-items: center;

}
.navigation .navigation-list{
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.navigation-list a{
  text-decoration: none;
  color: #fff4e3;
}
.rs-logo{
  width: 35%;
}
main{
  /* background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png"); */
  background-color: black;
}
 main h1{
   margin-top: 100px;
   text-align: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 40px;
   letter-spacing: 5px;
   color: #fff4e3;
   padding-bottom: 2%;
 }
 .main-images{
   transition-duration: 0.5s;
   align-content: center;
   margin-top: 2%;
 }
 .header-image{
  transition-duration: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 40%;
 }
 .intro-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 }
.rs-story{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture-red.png");
  margin-top: 10%;
  background-color: red;
  height: 800px;
}
.rs-story-container{
  padding: 20%;
}
.best-album{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png");
  height: 950px;
}
.rs-story-logo{
  float: left;
  height: 200px;
  width: auto;
  padding: 5%;
}
.rs-story-text{
  font-family: 'Permanent Marker', cursive;
  color: #fff4e3;
}
.album-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 50%;
}
.album-content{
  padding: 10%;
}
.album-text{
  font-family: 'Permanent Marker', cursive;
  color: #fff4e3;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.rs-buy-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 20%;
}
.footer{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture-blue.png");
  height: 150px;
}
.footer-content{
  padding-top: 70px;
}
.footer-text{
  font-family: 'Istok Web', sans-serif;
  color: #fbc318;
  text-align: center;
  margin: auto;
}
li {
 display: block;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  padding-left: 575px;
  margin-top: -0.1em;
}

li a:hover {
  text-decoration: underline;
  color: #fbc318;
}

.tables {
  margin-top: 100px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  letter-spacing: 5px;
  color: #fff4e3;
  padding-bottom: 20%;
}

th{
  color: #fbc318;
}
.rs-logo{
  animation-duration: 1s;
  animation-name: sliden;
}
 @keyframes sliden {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
 .rs-buy-image {
   border-radius: 3em;
  animation-name: h1-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-play-state: running;

}
@keyframes h1-animation {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: orange;
  }
}
