@import url('https://fonts.googleapis.com/css?family=Istok+Web:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body{
margin: 0;
background: black url("texture.png") repeat;
}
.header{
  margin-top: -20px;
}
.navigation{
  background: rgba(0,0,0,.2);
  height: 100px;
}
nav ul{
  list-style: none;
}
.header .navigation{
  width: 100%;
}
.header .navigation .navigation-list{
  margin: 15 auto 30px;
  max-width: 1366px;
  padding: 15px 40px;
  width: 100%;
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  align-items: center;

}
.navigation .navigation-list{
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.navigation-list a{
  text-decoration: none;
  color: #fff4e3;
}
.rs-logo{
  height: 69px;
  width: 61px;
}
main{
  /* background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png"); */
  background-color: black;
}
 main h1{
   margin-top: 100px;
   text-align: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 40px;
   letter-spacing: 5px;
   color: #fff4e3;
   padding-bottom: 2%;
 }
 .main-images{
   align-content: center;
   margin-top: 2%;
 }
 .header-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 40%;
 }
 .intro-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 }
.rs-story{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture-red.png");
  margin-top: 10%;
  background-color: red;
  height: 800px;
}
.rs-story-container{
  padding: 20%;
}
.best-album{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png");
  height: 950px;
}
.rs-story-logo{
  float: left;
  height: 200px;
  width: auto;
  padding: 5%;
}
.rs-story-text{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: #fff4e3;
}
.album-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 50%;
}
.album-content{
  padding: 10%;
}
.album-text{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: #fff4e3;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.rs-buy-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 20%;
}
.footer{
  background-image: url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture-blue.png");
  height: 150px;
}
.footer-content{
  padding-top: 70px;
}
.footer-text{
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  color: #fbc318;
  text-align: center;
  margin: auto;
}
li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
ul.dropdown {
  padding-left: 570px;
}
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
} */
